<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- mui -->
		<link type="text/css" rel="stylesheet" href="../static/css/mui.min.css"/>
		<link rel="stylesheet" href="../static/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../static/css/app/analysis.css" />
		<script src="../static/js/lib/echarts.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-bars mui-pull-left menua"></a>
			<a class="iconfont icon-022zongxiangzhuzhuangtu mui-pull-right choose" href="#topPopover"></a>
			<h1 class="mui-title">分析</h1>
		</header>
		<div class="mui-content">
			<div id="main" style="width: 350px; height: 400px;"></div>
			<div id="scroll" class="mui-scroll-wrapper" style="top:24rem; height: 14rem;">
				<div class="mui-scroll">
					<ul class="mui-table-view boxList">
						<li class="mui-table-view-cell">
							<div class="plan">
								<div class="plan-content">
									<div>
										<span>已完成/未完成：</span> 
										<span>2/4</span>
									</div>
									<p>复习node.js<p>
								</div>
								<div class="plan-type">前端</div>						
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="plan">
								<div class="plan-content">
									<div>
										<span>已完成/未完成：</span> 
										<span>2/4</span>
									</div>
									<p>复习node.js<p>
								</div>
								<div class="plan-type">前端</div>						
							</div>
						</li>	
						<li class="mui-table-view-cell">
							<div class="plan">
								<div class="plan-content">
									<div>
										<span>已完成/未完成：</span> 
										<span>2/4</span>
									</div>
									<p>复习node.js<p>
								</div>
								<div class="plan-type">前端</div>						
							</div>
						</li>	
						<li class="mui-table-view-cell">
							<div class="plan">
								<div class="plan-content">
									<div>
										<span>已完成/未完成：</span> 
										<span>2/4</span>
									</div>
									<p>复习node.js<p>
								</div>
								<div class="plan-type">前端</div>						
							</div>
						</li>							
					</ul>
				</div>
			</div>
		</div>
		<!--右上角弹出菜单-->
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a id="day" href="#">天</a>
						</li>
						<li class="mui-table-view-cell">
							<a id="week" href="#">周</a>
						</li>
						<li class="mui-table-view-cell">
							<a id="month" href="#">月</a>
						</li>
					</ul>
				</div>
			</div>

		</div>	
		<!-- mui -->
		<script type="text/javascript" src="../static/js/mui.min.js"></script>
		<!-- jquery -->
		<script type="text/javascript" src="../static/js/lib/jquery-1.11.2.min.js"></script>
		<!-- qiao.h.js -->
		<script type="text/javascript" src="../static/js/lib/common.js"></script>
		<!-- app -->
		<script type="text/javascript" src="../static/js/app/menuCommon.js"></script>
		<script src="../static/js/app/analysis.js"></script>
	</body>
</html>