<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Menu</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../static/css/mui.min.css">
		<link rel="stylesheet" href="../static/css/icons-extra.css">
		<style>
			.backgroundImage {
				height: 200px;
				background-color: green;
			}
			.page {
				margin: 35px;
			}
			.pageItem {
				margin-left: 15px;
				color: black;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="backgroundImage"></div>
			<div id="index" class="page">
				<span class="mui-icon mui-icon-home"></span>
				<a class="pageItem">首页</a>
			</div>
			<div id="noteType" class="page">
				<span class="mui-icon-extra mui-icon-extra-class"></span>
				<a class="pageItem">类别</a>			
			</div>
			<div id="reviewMode" class="page">
				<span class="mui-icon-extra mui-icon-extra-lamp"></span>
				<a class="pageItem">模式</a>			
			</div>
			<div id="analysis" class="page">
				<span class="mui-icon-extra mui-icon-extra-trend"></span>
				<a class="pageItem">分析</a>			
			</div>
			<div id="output" class="page">
				<span class="mui-icon mui-icon-upload"></span>
				<a class="pageItem">数据库</a>			
			</div>	
		</div>
	<script src="../static/js/mui.min.js"></script>
	<script src="../static/js/lib/jquery-1.11.2.min.js"></script>
	<!--数据库导出-->
    <script src="../static/js/lib/websqldump.js"></script>
	<script src="../static/js/lib/common.js"></script>	
	<script src="../static/js/app/dragMenu.js"></script>
</body>

</html>
