<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Today</title>
    <link href="../static/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/app/index.css" />
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-bars mui-pull-left menua"></a>
		<a class="mui-icon mui-icon-plusempty mui-pull-right adda"></a>
		<h1 class="mui-title">今日复习</h1>
	</header>
	<div class="mui-content">
		<div id="todoList">
			<ul class="mui-table-view">
				<!--<li class="mui-table-view-cell">
					<div class="plan">
						<div class="plan-content">
							<div>
								<span>第1次</span> 
								<span>2017-09-10 11</span>
							</div>
							<p>复习node.js<p>
						</div>
						<div class="plan-type">前端</div>						
					</div>
				</li>-->
			</ul>
		</div>
	</div>
	
	<!--mui-->
    <script src="../static/js/mui.min.js"></script>
    <!--jQuery-->
    <script src="../static/js/lib/jquery-1.11.2.min.js"></script>
	<!--common.js-->
	<script src="../static/js/lib/common.js"></script>
	<!--menuCommon.js-->
	<script src="../static/js/app/menuCommon.js"></script>
	<!--index.js-->
	<script src="../static/js/app/index.js"></script>
	<!--mainList.js-->
	<script src="../static/js/app/mainList.js"></script>
</body>
</html>